{{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}
<div class="post-meta">
    <span><i class="far fa-calendar"></i> {{ .Date.Format $dateFormat }}</span>
    {{ with .Params.categories }}
    <span><i class="far fa-folder"></i>
        {{ range . }}
        <a href="{{ "categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </span>
    {{ end }}
    {{ with .Params.tags }}
    <span><i class="far fa-tag"></i>
        {{ range . }}
        <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
        {{ end }}
    </span>
    {{ end }}
</div>